.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar-form {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.search-bar button {
  order: -1;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .navbar-form {
    margin-top: 8px;
  }
}

.account-image:hover {
  opacity: 0.75;
  scale: 110%;
}

.heart-icon {
  margin-left: 20px;
  margin-right: 5px;
  cursor: pointer;
  color: #ccc;
}

.heart-icon:hover {
  color: black;
  scale: 115%;
}

body {
  background-color: black;
  margin: 0;
}

/* KlubMode Toggle
#color-mode {
  width: 30px;
  cursor: pointer;
}

nav ul{
  text-align: right;
}
IMPORTANT HERE IS WHERE THE VARS ARE SETTTTTTTT****** HEHRHEHERHHEH
:root{
 --primary-color: #191931;
  --secondary-color: #fff; 
}
.dark-theme {    
  --primary-color: #fff;
  --secondary-color: #191931;
  
}

ul {
  list-style-type: none;
}

.button {
  background-color: var(--secondary-color);
  border: none;
  color: var(--primary-color);
  width: 200px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
} */

.hover-dropdown:hover .dropdown-menu {
  display: block !important;
}

.liked-icon {
  color: white;
  scale: 125%;
}

.add-item-button {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.form-container {
  max-width: 500px;
  margin: 0 auto;
}

.add-item-form-button {
  display: block;
  margin: 20px auto;
}

.form-group {
  margin-bottom: 1rem;
}

.form-title {
  padding-bottom: 1rem;
}
