.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar-form {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.search-bar button {
  order: -1;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .navbar-form {
    margin-top: 8px;
  }
}

.account-image:hover {
  opacity: 0.75;
  scale: 110%;
}

.heart-icon {
  margin-left: 20px;
  margin-right: 5px;
  cursor: pointer;
  color: #ccc;
}

.heart-icon:hover {
  color: black;
  scale: 115%;
}

body {
  background-color: black;
  margin: 0;
}

.hover-dropdown:hover .dropdown-menu {
  display: block !important;
}
