@import url("https://fonts.googleapis.com/css?family=Archivo+Black");

/* html,
body {
  height: 100%;
}

body {
  background: black;
  font-family: "Archivo Black", sans-serif;
} */

.glitch-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.glitch {
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
}

.glitch::before {
  left: 2px;
  text-shadow: -2px 0 #49fc00;
  clip: rect(24px, 550px, 90px, 0);
  animation: glitch-anim-2 3s infinite linear alternate-reverse;
}

.glitch::after {
  left: -2px;
  text-shadow: -2px 0 #fc0049;
  clip: rect(85px, 550px, 140px, 0);
  animation: glitch-anim 2.5s infinite linear alternate-reverse;
}

@keyframes glitch-anim {
  0% {
    clip: rect(60px, 9999px, 104px, 0);
  }
  4% {
    clip: rect(13px, 9999px, 32px, 0);
  }
  8% {
    clip: rect(61px, 9999px, 120px, 0);
  }
  /* ... */
}

@keyframes glitch-anim-2 {
  0% {
    clip: rect(101px, 9999px, 18px, 0);
  }
  3% {
    clip: rect(52px, 9999px, 82px, 0);
  }
  6% {
    clip: rect(9px, 9999px, 71px, 0);
  }
  /* ... */
}
